.weatherAppHeading {
    border: 1px solid whitesmoke;
    padding: .5rem;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    text-align: center;
}

.locationSection {
    background-color: rgba(0, 0, 0, .5);
    padding: .9rem;
    border-radius: 10px 10px 0 0;
}

.locationHeading{
    text-decoration: underline;
}

.cardsContainer {
    background-color: rgba(0, 0, 0, .5);
    padding: .2rem;
    border-radius: 0 0 10px 10px;
    margin-bottom: 1rem;
}

.formDesign{
    display: flex;
    flex-direction: column;
    align-items: center;
}